<launch>
	<arg name="veh" default="$(env VEHICLE_NAME)"/>
	<arg name="config" default="baseline" />
	<arg name="param_file_name" default="default" />
    <arg name="/apriltags/local" default="false" />
	<!-- start basic args -->
	<include file="$(find duckietown_demos)/launch/master.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="visualization" default="false" />
		<arg name="verbose" default="false" />
		<arg name="wheels" default="false"/>
		<arg name="fsm" default="false"/>
		<arg name="joystick" default="false"/>
		<arg name="lane_following" default="false"/>
		<arg name="/camera/raw/rect" default="true"/>
		<arg name="/camera/raw" value="true"/>
		<arg name="param_file_name" default="default" />
		<arg name="line_detector_param_file_name" default="default" />
		<arg name="anti_instagram" default="false" />
		<arg name="/lane_following/stop_line_filter" default="false" /> <!-- will not every allow a transition into COORDINATION mode -->
        <arg name="coordination" default="false"/>
        <arg name="intersectionType" default="trafficLight"/>
        <arg name="navigation" default="false"/>
		<arg name="apriltags" default="false"/>
	</include>
	<node ns="$(arg veh)" pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <!-- Remap topic required by the node to custom topics -->
    <remap from="image_rect" to="camera_node/image/rect" />
    <remap from="camera_node/image/camera_info" to="camera_node/raw_camera_info" />
    <remap from="apriltags_detector_node/image_raw" to="camera_node/image/rect"/>
	<remap from="apriltags_detector_node/camera_info" to="camera_node/raw_camera_info"/>

    <!-- Optional: Subscribe to the compressed stream-->
    <!--<param name="image_transport" type="str" value="compressed" />-->

    <!-- Select the tag family: 16h5, 25h7, 25h9, 36h9, or 36h11(default) -->
    <param name="tag_family" type="str" value="36h11" />

    <!-- Enable projected optical measurements for more accurate tag transformations -->
    <!-- This exists for backwards compatability and should be left true for new setups -->
    <param name="projected_optics" type="bool" value="true" />

    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.163513},
      {id: 1, size: 0.163513, frame_id: a_frame},
      {id: 2, size: 0.163513, frame_id: tag_2},
      {id: 3, size: 0.163513},
      {id: 4, size: 0.163513},
      {id: 5, size: 0.163513}]
    </rosparam>
  </node>
  <node ns="$(arg veh)" name="apriltag_node" pkg="apriltag_coord" type="apriltag_node.py" output="screen">
    <remap from="~apriltags_in" to="tag_detections"/>
  </node>
</launch>
